li {
  list-style: none;
}
.a {
  text-decoration: none;
  color: #8892b0;
  transition: transform 0.3s ease, color 0.3s ease;
}
.con {
  background-color: #0a192f;
  width: 100vw;
  height: 100vh;
  color: #8892b0;
  font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
}
.mcon {
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: end;
  /* background-color: #5deecd; */
}
.footer {
  height: 40%;
  display: flex;
  transition: 0.5s;

  /* background-color: aqua; */
}
.whats {
  display: block;
  margin-bottom: 20px;
  color: #64ffda;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  font-size: 16px;
  font-weight: 400;
}
.solink {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 5%;
  font-size: 20px;
  margin-left: 18px;
  transition: 0.5s;
}
.copyrignt {
  width: 90%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: end;
}
.copyrignt p {
  margin-bottom: 15px;
  padding: 10px;
}
.mail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 5%;
  writing-mode: vertical-lr;
  font-size: 16px;
  margin-right: 18px;
  transition: 0.5s;
}
.ling {
  height: 100px;
  width: 1px;
  background-color: #ccd6f6;
}
.uldiv {
  margin-top: 120px;
}

.uldiv li {
  margin-bottom: 19px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.uldiv li:hover .changeColor {
  transform: translateY(-2px);
  color: #5deecd;
}

.mail p:hover {
  transform: translateY(-2px);
  color: #5deecd;
}
.mail p .a:hover {
  transform: translateY(-2px);
  color: #5deecd;
}

.chead {
  font-size: 3.75em;
  font-weight: 600;
  line-height: 1.1;
  color: #ccd6f6;

  font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
}
.cbody {
  text-align: center;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  line-height: 1.3;
  color: #8892b0;
  font-size: 20px;
  font-family: "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
}
.cbtn {
  color: #64ffda;
  background-color: transparent;
  border: 1px solid #64ffda;
  border-radius: 4px;
  padding: 1.25rem 1.75rem;
  font-size: 14px;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  line-height: 1;
  text-decoration: none;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  margin-top: 50px;
  text-transform: capitalize;
}

.cbtn:hover {
  transform: translate(-5px, -5px);
  box-shadow: 5px 5px #64ffda;
}
.margintop {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .ling {
    display: none;
  }
  .none {
    display: none;
  }

}
